h2 {
    margin: 1rem 0;
}
.input-form {
    width: 100%;
    display: flex;
    justify-content: center; /*flex-start*/
    align-items: center;
    overflow-x: auto;
}
.info-column {
    width: 12.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.info-column label {
    margin: 0.75rem 0;
}
.input-column {
    display: flex;
    flex-direction: column;
    margin: 0 0.5rem;
}
.input-column input {
    width: 5rem;
}
