@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
:root {
    --color: #000;
    --secondary-color: #666;
    --background: #fff;
    --box-shadow: #aaa;
    --positive-color: #005400;
    --positive-background: #92fd8a80;
    --negative-color: #800000;
    --negative-background: #ffb4b480;
    --a-tag: #0071e3;
    --a-tag-hover: #0077ED;
}
@media(prefers-color-scheme: dark){
    :root {
        --color: #fff;
        --secondary-color: #777;
        --background: #222;
        --box-shadow: #000;
        --positive-color: #0f0;
        --positive-background: #06530066;
        --negative-color: #f00;
        --negative-background: #4b030366;
        --a-tag: #08f;
        --a-tag-hover: #07f;
    }
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    color: var(--color);
    background-color: var(--background);
    font-family: "EB Garamond", serif;
}
nav {
    height: 5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 5px 22px 1px var(--box-shadow);
}
nav a {
    margin-left: 2rem;
    color: var(--color);
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}
main a {
    color: var(--a-tag);
    text-decoration: none;
}
main a:hover {
    color: var(--a-tag-hover);
    text-decoration: underline;
}
main button {
    padding: 0.25rem 0.5rem;
    margin: 1rem 0;
}
main input[type=number],
main input[type=text] {
    padding: 0.25rem 0.5rem;
    margin: 0.5rem 0;
}
footer {
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--secondary-color);
}
footer a {
    margin: 0.6rem 0;
    color: var(--secondary-color);
}
.card {
    min-width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 3rem;
    margin: 2rem 0;
    border-radius: 0.25rem;
    border: 1px solid var(--secondary-color);
}
.card label {
    width: 16rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card label input {
    width: 10rem;
}
.card ul li {
    margin: 0.6rem 0;
}
