#balance,
#figures {
    margin: 2rem 0;
}
.table {
    display: flex;
}
.col {
    display: flex;
    flex-direction: column;
    margin: 0 0.25rem;
}
.col * {
    margin: 0.25rem 0;
    text-align: right;
}
.col:first-child * {
    text-align: left;
}
